/* ---------general css styling--------- */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta', 'Lato', sans-serif;
}

/* body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
} */

.popup-box {
    border-radius: 15px;
    background-color: rgba(245, 240, 240, 0.322);
    width: 410px;
    height: 480px;
    box-shadow: 0px 0px 3px gray;
     /* css written by taher from down  */
     position:absolute;
     top:60%;
     left: 50%;
     transform: translate(-50%,-50%);
     display: none;
     background-color: white;
     z-index: 1000;

} 



/* -------- css of personal-account login ------- */

.accounts{
    display: flex;
    border: 1px solid gray;  
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 25px 0;
    background-color: white;
    border-radius: 15px;

    /* css added by taher down  */

    margin-top: 50px;
} 

.accounts .btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3px;
    margin: 1px;
}

.personal-account, .mybiz-account  {
    padding: 4px;
    border-radius: 15px;
    width: 50%;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.personal-account {
    /* background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(183, 0, 255)); */
    background-image: var(--color-btn-primary-bg,linear-gradient(93deg,#53b2fe,#065af3));
}

.mybiz-account {
    background-color: white;
    color: rgba(0, 0, 0, 0.596);
}

.top-section {
    background-color: #eaf5ff;
    padding: 5px 25px 0px 25px; 
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.top-section .para {
    margin-bottom: 20px;

}
.para p {
    font-size: 1.25em;
    color: grey;
}

.login-credentials {
    padding: 5px 25px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.login-credentials input {
    padding: 5px;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid gray;
    border-radius: 5px;  
}

.continue, .otp-button, .sign-up-button, .create-account-button {
    font-size: 14px;
    font-weight: bold;
    background-color: #008cff;
    color: white;
    padding: 7px;
    border-radius: 7px;
    border: none;   
}
.continue{
    margin-top: 15px;
}

.google-login {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.google-login .text {
    margin : 10px 0;
    color: gray;
    font-size : 10px;
}

.google-login .left-line, .right-line {
    border: 1px solid gray;
    width: 33%;
    height: 0;
    margin-top: 16px;    
}

.google-login .left-line{ 
    margin-right: 12px;   
}

.google-login .right-line{ 
    margin-left: 12px;   
}

.login-img img {
    height: 35px;
}

.login-img {
    margin: auto;
    margin-bottom: 10px;
    padding: 10px 15px;
}

.terms-conditions {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 15px;
}
.terms-conditions .para {
    font-size: 9px;
    color: black;
}






/* ************* mybizz login starts ************* */

.mybizz-section{
    padding: 0 25px;
    border-radius: 15px;
}

.mybiz-top-section {
    margin-top: 40px;       
}

.mybiz-top-section .btn {
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    padding: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.2);
}

.my-biz-personal-account, .my-biz-mybiz-account {
    width: 50%;
    background-color: whitesmoke;
    border-radius: 15px;
    border: none;
    padding: 7px;
    font-weight: bold;
    cursor: pointer;
} 

.my-biz-mybiz-account {
    color: white;
    /* background-image: linear-gradient(to right, lightblue, red); */
    background-image: var(--color-btn-primary-bg,linear-gradient(93deg,#53b2fe,#065af3));
}


.login-signup-mybiz-account h1 {
   margin-top: 25px;
   margin-bottom: 15px;
   color: gray;
} 

.work-mail-login-box { 
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.63);
}

.forget-id-recovery {
    color: rgb(240, 35, 35);
    font-weight: bold;
    font-size: 11px;
    cursor: pointer;
}


.input-continue-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
.input-continue-box input{
   padding: 7px;
   width: 70%;
   border: 1px solid gray;
   border-radius: 5px;
   padding-left: 10px;
}

.input-continue-box button{
   padding: 4px;
   width: 29%;
   font-weight: bold;
   background-color: #008cff;
   border-radius: 5px;
   border: none;
   color: white;
   cursor: pointer
}

.google-login {
    font-size: 12px;
    color: gray;
    margin-bottom: 10px;
   
}

.image-box {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.image-box img {
    height: 40px;
    cursor: pointer
}

.terms {
    display: flex;
    justify-content: center;
    font-size: 11px;
    color: gray;
    margin-bottom: 100px;
}


/*  -----css of display-none-part---- */

/* /* .personal-account-section{
    display: none;
} */

/* .mybizz-section{
    display: none;
}  */

/* css written by taher  */

.cross_btn{
    color:white;
    position: absolute;
    top:2%;
    right:3%;
    background-color: red;
    font-size: 1.2rem;
    padding: 2px 5px;
    cursor:pointer;
   
}

.user-name-display{
    color:white;
    font-size: 1.1rem;
    font-weight: bold;
    cursor:pointer;
}

.hidden{
    display: none;
}

/* css for sign up form  */

#error-signup, #error-signin, #error-otp{
    color:red;
    position: absolute;
    top:5px;
    left:50%;
    transform: translate(-50%);
}

#error-signin{
    top:75px;
}

#error-otp{
    top:80px;
}

.red-background{
    background-color: rgba(255, 0, 0, 0.438);
}

.green-background{
    background-color: rgba(123, 233, 123, 0.536);
}

.message-display{

font-size: 1.2rem;
font-weight: bold;
padding:10px;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
display: flex;
align-items: center;
}

#sign-up-form{
    margin-top: 30px;
    display: flex;
    flex-direction: column;

}

input{
    outline: none;
}

/* otp section css  */

.new-para p:first-child{
  margin-left:25px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 10px;
  color:black;
  cursor: pointer;
}

.new-para p:last-child{
    margin-left:25px;
    margin-bottom: 20px; 
    
}

.login-credentials p{
    margin-bottom: 15px;
}

button{
    cursor:pointer;
}

.otp-button{
    margin-top: 20px;
}


.black_background{
    position: fixed;
    background-color: rgba(20, 18, 18, 0.7);
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
  
}

.congrats_message{
    font-size: 2rem;
    background-color: rgb(151, 240, 151);
    border-radius: 15px;
    padding:30px 50px;
    display: flex; 
    justify-content: center;
    color:rgb(4, 79, 4);
}

.green_tick{
    height: 30px;
    width:50px;
    padding: 0 10px;
    position: relative;
    top:6px;

}

.success_msg{
    display: flex;
    align-items: center;
    justify-content: center;  
    
}



.create-account-button{
    margin-top: 20%;
 }

 /* sign out section  */

 .sign_out{
    color:grey;
    font-size: 1.3em;
    padding:8px;
    width:8%;
    border-radius: 20px;
    position: absolute;
    top:42px;
    right:80px;
    background-color: white;
    text-align: center;
    cursor: pointer;
 }
 .user-name-display{
    margin-left: 10px;
 }



























